body {
    background-color: #fff7ed;
}
h1 {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px; 
}

h2{
    font-size: 40px;
}

h3{
    font-size: 20px;
}

input {
    width: 70%;
    padding:10px;
}

.weather-containter {
   
    background-color: #ffeeda;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.fore-cast-container {
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.city-list {
    padding:5px;
    margin-top: 5px;
    background-color: #feddb6;
}

.btn {
    margin-left: 5px;
}

#city-search{
    padding: 10px;
    background-color:#fecc91;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
} 

